---
import { Head } from "@/components/Head";
import AppRouter from "@/components/Router";
import "@/styles/global.css";

export function getStaticPaths() {
  return [
    { params: { slug: undefined } },
    { params: { slug: 'expenses' } },
    { params: { slug: 'profile' } },
  ];
}
---
<!DOCTYPE html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Head />
  </head>
  <body>
    <div id="root">
      <AppRouter client:only="react" />
    </div>
  </body>
</html>
